mixin project__section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.backgroundColor = spec.backgroundColor || ''
  - spec.sectionTitle = spec.sectionTitle || ''
  - spec.metaInfo = spec.metaInfo || ''
  - spec.sideImg = spec.sideImg || null
  - spec.sideQuote = spec.sideQuote || null
  - spec.description = spec.description || ''

  .section.project__section(class=spec.__class style='background-color:#{spec.backgroundColor}')
    .row.row--fullscreen.collapse
      .small-12.medium-6.large-6.column.left
        .section__description
          h3.title.bold #{spec.sectionTitle}
          - each line in spec.description.split(/\n/)
            p #{line}
      .small-12.medium-6.large-6.column.right
        //- .section__meta-info
        //-   ul.meta-info(title='Info')
        //-     - each value, key in spec.metaInfo
        //-       li.list-item  
        //-         span.list-item__label #{key}
        //-         span.list-item__value #{value}
        if spec.sideImg
          .section__media
            img(src=spec.sideImg)
        else if spec.sideQuote
          .section__quote
            blockquote(style='color:#{spec.backgroundColor}')
              p #{spec.sideQuote.quote}
              .dash(style='background-color:#{spec.backgroundColor}')
              footer
                a(href=spec.sideQuote.link style='color:#{spec.backgroundColor}') #{spec.sideQuote.cite}
