mixin thumbnail--news(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  .row.row--fullscreen.collapse.align-center
    div.thumbnail.thumbnail--news(class=spec.__class)
      a(href=baseUrl+item.link)
        .small-12.medium-6.column
          .thumbnail--news__content
            span.dash
            h3.title.bold #{item.title}
            p.meta #{item.date}
            p.teaser #{item.teaser}
        .small-12.medium-6.column
          .thumbnail--news__media
            if item.thumbnail
              img(src=item.thumbnail)
            else if item.thumbnailEmbededVideo
              .embedMedia.responsive-embed
                iframe(src=item.thumbnailEmbededVideo frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen)
